<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-stagiaire-heading" jhiTranslate="laFactoryFinalApp.stagiaire.home.createOrEditLabel">Create or edit a Stagiaire</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!stagiaire.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="stagiaire.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.stagiaire.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="stagiaire.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.stagiaire.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                        [(ngModel)]="stagiaire.prenom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.stagiaire.coordonnees" for="field_coordonnees">Coordonnees</label>
                    <input type="text" class="form-control" name="coordonnees" id="field_coordonnees"
                        [(ngModel)]="stagiaire.coordonnees" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.stagiaire.numeroRue" for="field_numeroRue">Numero Rue</label>
                    <input type="number" class="form-control" name="numeroRue" id="field_numeroRue"
                        [(ngModel)]="stagiaire.numeroRue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.stagiaire.rue" for="field_rue">Rue</label>
                    <input type="text" class="form-control" name="rue" id="field_rue"
                        [(ngModel)]="stagiaire.rue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.stagiaire.codePostal" for="field_codePostal">Code Postal</label>
                    <input type="text" class="form-control" name="codePostal" id="field_codePostal"
                        [(ngModel)]="stagiaire.codePostal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.stagiaire.ville" for="field_ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                        [(ngModel)]="stagiaire.ville" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
