<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ordinateur-heading" jhiTranslate="laFactoryFinalApp.ordinateur.home.createOrEditLabel">Create or edit a Ordinateur</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ordinateur.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ordinateur.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.ordinateur.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                        [(ngModel)]="ordinateur.code" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.ordinateur.cout" for="field_cout">Cout</label>
                    <input type="number" class="form-control" name="cout" id="field_cout"
                        [(ngModel)]="ordinateur.cout" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.ordinateur.processeur" for="field_processeur">Processeur</label>
                    <input type="text" class="form-control" name="processeur" id="field_processeur"
                        [(ngModel)]="ordinateur.processeur" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.ordinateur.ram" for="field_ram">Ram</label>
                    <input type="number" class="form-control" name="ram" id="field_ram"
                        [(ngModel)]="ordinateur.ram" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.ordinateur.dd" for="field_dd">Dd</label>
                    <input type="number" class="form-control" name="dd" id="field_dd"
                        [(ngModel)]="ordinateur.dd" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.ordinateur.dateAchat" for="field_dateAchat">Date Achat</label>
                    <div class="input-group">
                        <input id="field_dateAchat" type="text" class="form-control" name="dateAchat" ngbDatepicker  #dateAchatDp="ngbDatepicker" [(ngModel)]="ordinateur.dateAchat"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateAchatDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.ordinateur.stagiaire" for="field_stagiaire">Stagiaire</label>
                    <select class="form-control" id="field_stagiaire" name="stagiaire" [(ngModel)]="ordinateur.stagiaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stagiaireOption.id === ordinateur.stagiaire?.id ? ordinateur.stagiaire : stagiaireOption" *ngFor="let stagiaireOption of stagiaires; trackBy: trackStagiaireById">{{stagiaireOption.prenom}} {{stagiaireOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
