<div class="calendar">
    <div class="calendar-navs">
        <div class="container">
            <div class="month-nav">
                <button (click)="prevMonth()">&lt;</button>
                <span class="p4">{{ currentDate.format('MMMM') }}</span>
                <button (click)="nextMonth()">&gt;</button>
            </div>
            <div class="year-nav ">
                <button (click)="prevYear()">&lt;</button>
                <span>{{ currentDate.format('YYYY') }}</span>
                <button (click)="nextYear()">&gt;</button>
            </div>
        </div>


        <table class="table table-striped">
            <tr>
                <th> Date</th>
                <th *ngFor="let salle of salles; trackBy:trackId">  {{salle.code }}
                </th>
            </tr>

            <div class="weeks">
                <div *ngFor="let week of weeks" class="week">

                    <tr *ngFor="let day of week"> >
                        <td>
                            <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
                                <span class="date-text">{{ day.mDate.date() }}</span>
                            </div>
                            <div class="week-date enabled"
                                 *ngIf="isSelectedMonth(day.mDate)"
                                 (click)="selectDate(day)"
                                 [ngClass]="{ today: day.today, selected: day.selected }">
                                <span class="date-text">{{ day.mDate.date() }}</span>
                            </div>
                        </td>

                        <td *ngFor="let salle of salles ;trackBy: trackId">
                                    <span *ngFor="let cursus of cursuses; trackBy: trackIdCusus">
                                       {{ cursus.dateDebut.day()}} {{ this.currentDate.day()}}<br/>
                                        {{ cursus.dateDebut.month()}}  {{ this.currentDate.month()}} <br/>
                                        {{ cursus.dateDebut.year()   }}{{ this.currentDate.year()}}

                                        <br/>
                                    <span *ngIf="DipslaySalle(cursus, salle)">
                                        Cursus : {{ cursus.nom}} <br/>
                                    Capacité d'accueil : {{ salle.capaciteMax}} <br/>
                                    </span>

                                </span>

                        </td>

                    </tr>
                </div>
            </div>
        </table>
    </div>

</div>



