<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="salle">
            <h2><span jhiTranslate="laFactoryFinalApp.salle.detail.title">Salle</span> {{salle.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="laFactoryFinalApp.salle.code">Code</span></dt>
                <dd>
                    <span>{{salle.code}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryFinalApp.salle.cout">Cout</span></dt>
                <dd>
                    <span>{{salle.cout}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryFinalApp.salle.capaciteMax">Capacite Max</span></dt>
                <dd>
                    <span>{{salle.capaciteMax}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/salle', salle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
