<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ordinateur">
            <h2><span jhiTranslate="laFactoryFinalApp.ordinateur.detail.title">Ordinateur</span> {{ordinateur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="laFactoryFinalApp.ordinateur.code">Code</span></dt>
                <dd>
                    <span>{{ordinateur.code}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryFinalApp.ordinateur.cout">Cout</span></dt>
                <dd>
                    <span>{{ordinateur.cout}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryFinalApp.ordinateur.processeur">Processeur</span></dt>
                <dd>
                    <span>{{ordinateur.processeur}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryFinalApp.ordinateur.ram">Ram</span></dt>
                <dd>
                    <span>{{ordinateur.ram}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryFinalApp.ordinateur.dd">Dd</span></dt>
                <dd>
                    <span>{{ordinateur.dd}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryFinalApp.ordinateur.dateAchat">Date Achat</span></dt>
                <dd>
                    <span>{{ordinateur.dateAchat}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryFinalApp.ordinateur.stock">Stock</span></dt>
                <dd>
                    <span>{{ordinateur.stock}}</span>
                </dd>
                <dt><span jhiTranslate="laFactoryFinalApp.ordinateur.stagiaire">Stagiaire</span></dt>
                <dd>
                    <div *ngIf="ordinateur.stagiaire">
                        <a [routerLink]="['/stagiaire', ordinateur.stagiaire?.id, 'view']">{{ordinateur.stagiaire?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ordinateur', ordinateur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
