<div>
    <h2 id="page-heading">
        <span jhiTranslate="laFactoryFinalApp.ordinateur.home.title">Ordinateurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ordinateur" [routerLink]="['/ordinateur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="laFactoryFinalApp.ordinateur.home.createLabel">
            Create new Ordinateur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ordinateurs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.ordinateur.code">Code</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.ordinateur.cout">Cout</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.ordinateur.processeur">Processeur</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.ordinateur.ram">Ram</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.ordinateur.dd">Dd</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.ordinateur.dateAchat">Date Achat</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.ordinateur.stock">Stock</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.ordinateur.stagiaire">Stagiaire</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ordinateur of ordinateurs ;trackBy: trackId">
                <td><a [routerLink]="['/ordinateur', ordinateur.id, 'view' ]">{{ordinateur.id}}</a></td>
                <td>{{ordinateur.code}}</td>
                <td>{{ordinateur.cout}}</td>
                <td>{{ordinateur.processeur}}</td>
                <td>{{ordinateur.ram}}</td>
                <td>{{ordinateur.dd}}</td>
                <td>{{ordinateur.dateAchat | date:'mediumDate'}}</td>
                <td>{{ordinateur.stock}}</td>
                <td>
                    <div *ngIf="ordinateur.stagiaire">
                        <a [routerLink]="['../stagiaire', ordinateur.stagiaire?.id, 'view' ]" >{{ordinateur.stagiaire?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ordinateur', ordinateur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ordinateur', ordinateur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ordinateur/'+ ordinateur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
