<div>
    <h2 id="page-heading">
        <span jhiTranslate="laFactoryFinalApp.formateur.home.title">Formateurs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-formateur" *jhiHasAnyAuthority="['ROLE_USER']" [routerLink]="['/formateur/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="laFactoryFinalApp.formateur.home.createLabel" >
            Create new Formateur
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="formateurs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.formateur.nom">Nom</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.formateur.prenom">Prenom</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.formateur.coordonnees">Coordonnees</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.formateur.numeroRue">Numero Rue</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.formateur.rue">Rue</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.formateur.codePostal">Code Postal</span></th>
            <th><span jhiTranslate="laFactoryFinalApp.formateur.ville">Ville</span></th>
            <!-- <th>Liste de matières où compétence "Débutant"</th>
            <th>Liste de matières où compétence "Intermédiaire"</th>
            <th>Liste de matières où compétence "Avancé"</th>
            <th>Liste de matières où compétence "Confirmé"</th> -->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let formateur of formateurs ;trackBy: trackId">
                <td><a [routerLink]="['/formateur', formateur.id, 'view' ]">{{formateur.id}}</a></td>
                <td>{{formateur.nom}}</td>
                <td>{{formateur.prenom}}</td>
                <td>{{formateur.coordonnees}}</td>
                <td>{{formateur.numeroRue}}</td>
                <td>{{formateur.rue}}</td>
                <td>{{formateur.codePostal}}</td>
                <td>{{formateur.ville}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/formateur', formateur.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/formateur', formateur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'formateur/'+ formateur.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
