<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-formateur-heading" jhiTranslate="laFactoryFinalApp.formateur.home.createOrEditLabel">Create or edit a Formateur</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!formateur.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="formateur.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.formateur.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom" [(ngModel)]="formateur.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.formateur.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom" [(ngModel)]="formateur.prenom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.formateur.coordonnees" for="field_coordonnees">Coordonnees</label>
                    <input type="text" class="form-control" name="coordonnees" id="field_coordonnees" [(ngModel)]="formateur.coordonnees" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.formateur.numeroRue" for="field_numeroRue">Numero Rue</label>
                    <input type="number" class="form-control" name="numeroRue" id="field_numeroRue" [(ngModel)]="formateur.numeroRue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.formateur.rue" for="field_rue">Rue</label>
                    <input type="text" class="form-control" name="rue" id="field_rue" [(ngModel)]="formateur.rue" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.formateur.codePostal" for="field_codePostal">Code Postal</label>
                    <input type="text" class="form-control" name="codePostal" id="field_codePostal" [(ngModel)]="formateur.codePostal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="laFactoryFinalApp.formateur.ville" for="field_ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville" [(ngModel)]="formateur.ville" />
                </div>
                <!-- <div class="form-group">
                    <label jhiTranslate="laFactoryFinalApp.module.matieres" for="field_matieres">Matieres</label>
                    <select class="form-control" id="field_matieres" multiple name="matieres" [(ngModel)]="formateur.matieres">
                        <option [ngValue]="getSelected(formateur.matieres, matiereOption)" *ngFor="let matiereOption of matieres; trackBy: trackMatiereById">{{matiereOption.nom}}</option>
                    </select>
                </div> -->
                <div>
                    <a [routerLink]="['/formateur/editListMatieresCompetence', formateur.id]" routerLinkActive="router-link-active">Edit Fields/Competence</a>
                </div>
            </div>
            <br>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;
                    <span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;
                    <span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
